<!DOCTYPE html>
<html>
{% load static %}
{% load leaflet_tags %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Tabiri  {% block title %}{% endblock %}</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="{% static 'assets/lib/jqvmap/jqvmap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet">

    <!-- ===============================================-->
    <!-- Leaflet Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/easy-button.css' %}">

    <link rel="stylesheet" type="text/css"
          href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">


</head>

<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

    <div class="container">
        <nav class="navbar navbar-vertical navbar-expand-lg navbar-light navbar-glass"><a class="navbar-brand text-left" href="{% url 'home' %}">
            <div class="d-flex align-items-center text-primary py-3">
                <div class="d-inline-flex flex-center"><img class="mr-2" src="{% static 'assets/img/illustrations/falcon.png' %}" alt="" width="40" /><span class="text-sans-serif">falcon</span></div>
            </div>
        </a>
            <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <span class="fas fa-chart-pie"></span>
                                </span>
                                <span>Home</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-indicator" href="#home" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="home">
                            <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="fas fa-chart-pie"></span>
                            </span>
                                <span>Parameters</span>
                            </div>
                        </a>
                        <ul class="nav collapse show" id="home" data-parent="#navbarVerticalCollapse">
                            <li class="nav-item"><a class="nav-link" href="{% url 'population' %}">Population</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'wastage_rate' %}">Wastage Rate</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'epi_dosage' %}">EPI Dosage</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <nav class="navbar navbar-light navbar-glass fs--1 font-weight-semi-bold row navbar-top sticky-kit navbar-expand"><button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand text-left ml-3" href="index-2.html">
                <div class="d-flex align-items-center text-primary">
                    <div class="d-inline-flex flex-center">
                        <img class="mr-2" src="{% static 'assets/img/illustrations/falcon.png' %}" alt="" width="40" /><span class="text-sans-serif">falcon</span></div>
                </div>
            </a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown1">
                    <ul class="navbar-nav align-items-center d-none d-lg-block">
                        <li class="nav-item">
                            <form class="form-inline search-box"><input class="form-control rounded-pill search-input" type="search" placeholder="Search..." aria-label="Search" /><span class="position-absolute fas fa-search text-400 search-box-icon"></span></form>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center ml-auto">
                        <li class="nav-item dropdown"><a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar avatar-xl">
                                <img class="rounded-circle" src="{% static 'assets/img/team/3.jpg' %}" alt="" />
                            </div>
                        </a>
                            <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
                                <div class="bg-white rounded-soft py-2">
                                    <a class="dropdown-item font-weight-bold text-warning" href="#!"><span class="fas fa-crown mr-1"></span><span>Go Pro</span></a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#!">Set status</a>
                                    <a class="dropdown-item" href="pages/profile.html">Profile &amp; account</a>
                                    <a class="dropdown-item" href="#!">Feedback</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="pages/settings.html">Settings</a>
                                    <a class="dropdown-item" href="authentication/log-out.html">Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>


            <!-- start of content block -->
            {% block content %}

            {% endblock %}

            <!-- end of content block -->


            <!--<footer>
                <div class="row no-gutters justify-content-between fs&#45;&#45;1 mt-4 mb-3">
                    <div class="col-12 col-sm-auto text-center">
                        <p class="mb-0 text-600">Thank you for creating with Falcon <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2018 &copy; <a href="https://themewagon.com/">Themewagon</a></p>
                    </div>
                    <div class="col-12 col-sm-auto text-center">
                        <p class="mb-0 text-600">v1.4.0</p>
                    </div>
                </div>
            </footer>-->
        </div>
    </div>
</main><!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<!--<script src="{% static 'js/popper.min.js' %}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/popper.min.js  "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--<script src="{% static 'js/bootstrap.js' %}"></script>-->
<!--<script src="{% static 'js/plugins.js' %}"></script>-->
<!--<script src="{% static 'assets/lib/stickyfilljs/stickyfill.min.js' %}"></script>
<script src="{% static 'assets/lib/sticky-kit/sticky-kit.min.js"></script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-122907869-1"></script>-->
<!--<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-122907869-1');
</script>-->
<!--<script src="{% static 'js/theme.js' %}"></script>-->

</body>
</html>